  <div class="border-[1px] border-gray-400 border-dashed rounded-lg min-h-[150px] flex items-center justify-center flex-col gap-2">
    <p class="font-medium">
      You don't have any quotes yet!
    </p>

    <%= link_to "+ Add quote", new_quote_path, class: "bg-[#df5034] px-7 py-2 text-white font-semibold capitalize inline-block rounded-lg" %>
  </div>